// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Montserrat', sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Montserrat', sans-serif;

$primary-color: #001946;
$secondary-color: #ced4da;
$third-color: #828b8f;
$background-color: #eff2fb;
$transform-color: #122a7d;



